NEXT_PUBLIC_KEY_RECAPTCHA_CLIENT = 6LeTQb0qAAAAALGknVXvQMMLUOscf7bQOH1FRCrT
NEXT_PUBLIC_KEY_RECAPTCHA_SERVER = 6LeTQb0qAAAAAFUPyaZ4yDdiW4eAOO40aTDghKCG
NEXT_PUBLIC_SECRET_KEY = P312T4M1N4p312rt4m1n4
NEXT_PUBLIC_API_URL_GOOGLE_RECAPTCHA = https://www.google.com/recaptcha/api/siteverify
NEXT_PUBLIC_API_URL = https://api-risk.alus.co
NEXT_PUBLIC_APP_NAME = "PERTAMINA RISK MANAGEMENT"
